<div class="income">
    <h2 class="icome__title">Income</h2>
    
    <div class="income__list">
        <div class="item clearfix" id="income-0" *ngFor='let item of data'>
            <div class="item__description">{{item.text}}</div>
            <div class="right clearfix">
                <div class="item__value">{{item.number}}</div>
                <div class="item__delete">
                    <button (click)='clickHundler(item.id)' class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
                